<!DOCTYPE html>
<html lang="kr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/png" href="../img/favicon.png" />
        <link rel="stylesheet" href="../css/styles.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/FortAwesome/Font-Awesome@5.14.0/css/all.min.css">
        <title>Settings - Raccoon</title>
    </head>
    <body>
        <div class="status-bar">
            <div class="status-bar__column">
                <span>No Service</span>
                <i class="fa-solid fa-wifi"></i>
            </div>
            <div class="status-bar__column">
                <span>18:43</span>
            </div>
            <div class="status-bar__column">
                <span>80%</span>
                <i class="fa-solid fa-battery-three-quarters fa-lg"></i>
                <i class="fa-solid fa-bolt-lightning"></i>
            </div>
        </div>

        <header class="alt-header">
            <div class="alt-header__column">
                <a href="more.html">
                    <i class="fa-solid fa-angle-left fa-3x"></i>
                </a>
            </div>
            <div class="alt-header__column">
                <h1 class="alt-header__title">설정</h1>
            </div>
            <div class="alt-header__column">
                <i class="fa-solid fa-search fa-lg"></i>
            </div>
        </header>


        <main class="main-screen more-screen">
            <ul class="settings-list">
                <li class="settings__setting">
                    <div class="setting__setting-column">
                        <i class="fa-solid fa-bullhorn"></i>
                        <span>Notices</span>
                    </div>
                    <div class="setting__setting-column"></div>
                </li>
                <li class="settings__setting">
                    <div class="setting__setting-column">
                        <i class="fa-solid fa-flask"></i>
                        <span>Kokoa Lab</span>
                    </div>
                    <div class="setting__setting-column"></div>
                </li>
                <li class="settings__setting">
                    <div class="setting__setting-column">
                        <i class="fa-solid fa-circle-info"></i>
                        <span>Version Lab</span>
                    </div>
                    <div class="setting__setting-column">Latest Version</div>
                </li>
            </ul>
        </main>

        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__btn">
                    <a calss="nav__link" href="friends.html">
                        <i class="fa-regular fa-user fa-2x"></i>
                    </a>
                </li>
                <li class="nav__btn">
                    <a class="nav__link" href="chats.html">
                        <span class="nav__notification nav__notification-comment badge">
                            1
                        </span>
                        <i class="fa-regular fa-comment fa-2x"></i>
                    </a>
                </li>
                <li class="nav__btn">
                    <a class="nav__link" href="find.html">
                        <i class="fa-solid fa-search fa-2x"></i>
                    </a>
                </li>
                <li class="nav__btn">
                    <a class="nav__link" href="more.html">
                        <span class="nav__notification nav__notification-ellipsis"> </span>
                        <i class="fa-solid fa-ellipsis fa-2x"></i>
                    </a>
                </li>
            </ul>
        </nav>

        <div id="no-mobile">
            <span>You screen is too big ㅠㅠ</span>
        </div>

        <script src="https://kit.fontawesome.com/db0e84df57.js" crossorigin="anonymous"></script>
    </body>
</html>